# System files
.project
.DS_Store
.sass-cache
.bundle
bundle

# Local
node_modules
_site
.tmp
_config-dev.yml
npm-debug.log
app/assets/scripts/config/local.js

#Foundation additions
.sass-cache
config
