/*----------------------------------------------*/
/* Blog Page */
/*----------------------------------------------*/

.blog-preview{
  margin-bottom: 30px;
  .blog-date{
    font-style: italic;
    font-weight: 300;
  }
}

.blog-container{
  margin-bottom: 30px;
  .blog-date{
    font-style: italic;
    font-weight: 300;
  }
  h1 {
    font-size: 1.4em;
    font-weight: 600;
  }
  h2 {
    font-size: 1.2em;
    font-weight: 600;
    margin: 6px 0;
  }
  figure{
    text-align: center;
  }
  img{
    margin: auto;
    margin-bottom: 2px;
    clear: both;
    border: 1px solid $lightgrey;
  };
  .caption{
    text-align: center;
    font-size: 0.8em;
    font-style: italic;
  }
  .blog-end{
    text-align: center;
    max-width: 150px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .author{
    text-align: center;
  }
  .banner-img {
    max-height:150px;
  }
}
