// Charset
@charset "UTF-8";
@import "compass";

//Foundation
@import "settings";
@import "./foundation-sites/scss/foundation";
@include foundation-everything;

// Reset and normalize
@import "normalize";
@import "reset";
@import "normalize-opentype";
@import "base";
@import "landing";
@import "about";
@import "blog";
