---
layout: default
---
    {% include header.html %}

<script>
	document.querySelector("header").style.display='inline-block';
</script>
<div id="site-canvas">
	<div class="header-image header-events">
	    <div class="dark-overlay center-text">
	      <h1 class = "title feature-header">Events</h1> 
	    </div>
  	</div>

{% assign current_date = site.time | date: '%s' %}
{% assign event = (site.data.events | sort: 'date' ) %}
{% for e in event %}
	{% assign event_date = e.date | date: '%s' %}
	{% if event_date > current_date %}
		{% assign count = count | plus: 1 %}

		<div class = "event-sub-container">
			<div class = "event-top-section clearfix">
				<div class="sub-head">
					<img class="event-images" src = "{{ site.baseurl }}/assets/graphics/flags/4x3/{{ e.flag }}.svg" width="24px"/>
					<h3 class="event-header">{{ e.title }}</h3>
					{% if e.signup_url %}
						<a class="btn btn-grn" href="{{ e.signup_url }}" target="">SIGN UP
						</a>
					{% endif %}
				</div>
			</div>
			<div class="event-maindetails clearfix">
	    		<div class="event-details-left">
		    		<span class = "emphasizedNumber">
						{% assign d = e.date | date: "%-d"  %}
						{% case d %}
							{% when '1' or '21' or '31' %}{{ d }}st
							{% when '2' or '22' %}{{ d }}nd
							{% when '3' or '23' %}{{ d }}rd
							{% else %}{{ d }}th
						{% endcase %}
		    		</span>
					<p><b>{{ e.date | date: "%B" }}</b></p>
				</div>
			  	<div class="event-details-right">
				    <div class="textbox" style="padding-top:8px">
						<p>
							{% if e.place_url %}
								<a href="{{ e.place_url }}"><b>{{ e.place_name }}</b></a>
							{% else %}
								<b>{{ e.place_name }}</b>
							{% endif %}
						</p>
						<p class="event-details">{{ e.date | date: "%A" }}, {{ e.time_string }}</p>
				    </div>
			  	</div>
			</div>
	    </div>
	{% endif %}
{% endfor %}
</div>


