<script>
	document.querySelector("header").style.display = 'inline-block';
</script>

<div id="site-canvas">
	<div class="header-image header-about">
		<div class="dark-overlay center-text">
			<h1 class="title feature-header">{{site.data[locale].about.title}}</h1>
		</div>
	</div>
	<div class = "mmvideo">
 		<iframe width="498px" height="280px" src="https://www.youtube-nocookie.com/embed/wEEnOqmVfqM?rel=0" frameborder="0" allowfullscreen=""></iframe>
	</div>
	<div class="row">
		<div class="large-12 columns">
			<div class="textbox about-container">
				<div class="center-text panel">
					<div class="title section-header">{{site.data[locale].about.objectives.title}}</div>
				</div>
				<div class="about-textbox">
					<ol class="orderedlist-styled">
						<li>{{site.data[locale].about.objectives.text1}}</li>
						<li>{{site.data[locale].about.objectives.text2}}</li>
					</ol>
				</div>

				<div class="center-text panel">
					<div class="title section-header">{{site.data[locale].about.ethics.title}}</div>
				</div>

				<div class="about-textbox">
					<ol class="orderedlist-styled">
						<li>{{site.data[locale].about.ethics.text1}}</li>
						<li>{{site.data[locale].about.ethics.text2}}</li>
						<li>{{site.data[locale].about.ethics.text3}}</li>
						<li>{{site.data[locale].about.ethics.text4}}</li>
						<li>{{site.data[locale].about.ethics.text5}}</li>
						<li>{{site.data[locale].about.ethics.text6}}</li>
					</ol>
				</div>

				<div class="center-text panel">
					<div class="title section-header">{{site.data[locale].about.membership.title}}</div>
				</div>

				<div class="about-textbox">
					<p style="text-align: left">{{site.data[locale].about.membership.text1}}</p>
					<p style="text-align: left">{{site.data[locale].about.membership.text2}}</p>
				</div>
			</div>

			<div class="about-contact center-text">
				<a href="mailto:info@hotosm.org" class="btn btn-blue">{{site.data[locale].about.contact_btn}}</a>
			</div>

			{% include members.html %}

		</div>
	</div>
</div>

</div>
