<script>
	document.querySelector("header").style.display = 'inline-block';
</script>

<div id="site-canvas">
	<div class="header-image header-about">
		<div class="dark-overlay center-text">
			<h1 class="title feature-header">{{site.data[locale].about.title}}</h1>
		</div>
	</div>
	<div class = "mmvideo">
 		<iframe width="498px" height="280px" src="https://www.youtube-nocookie.com/embed/wEEnOqmVfqM?rel=0" frameborder="0" allowfullscreen=""></iframe>
	</div>
	<div class="row">
		<div class="large-12 columns">
			<div class="textbox about-container">
				
				<div class="center-text panel">
					<div class="title section-header">{{site.data[locale].about.who_we_are.title}}</div>
				</div>

				<div class="about-textbox">
					<p style="text-align: left">{{site.data[locale].about.who_we_are.text1}}</p>
				</div>
				
				<div class="center-text panel">
					<div class="title section-header">{{site.data[locale].about.objectives.title}}</div>
				</div>
				<div class="about-textbox">
					<ol class="orderedlist-styled">
						<li>{{site.data[locale].about.objectives.text1}}</li>
						<li>{{site.data[locale].about.objectives.text2}}</li>
					</ol>
				</div>

				<div class="center-text panel">
					<div class="title section-header">{{site.data[locale].about.ethics.title}}</div>
				</div>
				
				<div class="about-textbox">
					<div class="sub-head">{{site.data[locale].about.ethics.people.title}}</div>
					<p>{{site.data[locale].about.ethics.people.text1}}</p>
					<p>{{site.data[locale].about.ethics.people.text2}}</p>
				</div>
				
				<div class="about-textbox">
					<div class="sub-head">{{site.data[locale].about.ethics.open.title}}</div>
					<p>{{site.data[locale].about.ethics.open.text1}}</p>
					<p>{{site.data[locale].about.ethics.open.text2}}</p>
					<p>{{site.data[locale].about.ethics.open.text3}}</p>
				</div>
				
				<div class="about-textbox">
					<div class="sub-head">{{site.data[locale].about.ethics.sustainable.title}}</div>
					<p >{{site.data[locale].about.ethics.sustainable.text1}}</p>
					<p>{{site.data[locale].about.ethics.sustainable.text2}}</p>
				</div>
				
				<div class="about-textbox">
					<div class="sub-head">{{site.data[locale].about.ethics.collaborative.title}}</div>
					<p>{{site.data[locale].about.ethics.collaborative.text1}}</p>
					<p>{{site.data[locale].about.ethics.collaborative.text2}}</p>
				</div>
				
				<div class="about-textbox">
					<div class="sub-head">{{site.data[locale].about.ethics.quality.title}}</div>
					<p>{{site.data[locale].about.ethics.quality.text1}}</p>
				</div>
				

				<div class="center-text panel">
					<div class="title section-header">{{site.data[locale].about.membership.title}}</div>
				</div>

				<div class="about-textbox">
					<p style="text-align: left">{{site.data[locale].about.membership.text1}}</p>
					<p style="text-align: left">{{site.data[locale].about.membership.text2}}</p>
				</div>
			

			<div class="about-contact center-text">
				<a href="mailto:partnerships@hotosm.org" class="btn btn-blue">{{site.data[locale].about.contact_btn}}</a>
			</div>

			<div class="center-text panel">
					<div class="title section-header">{{site.data[locale].about.communities.title}}</div>
				</div>

				<div class="about-textbox">
					<p style="text-align: left">{{site.data[locale].about.communities.text1}}</p>
					<p style="text-align: left">{{site.data[locale].about.communities.text2}}</p>
				</div>
			</div>

			<div class="about-contact center-text">
				<a href="https://drive.google.com/drive/folders/1U80TG2elfc9JNnLoKVmbU1mDcK4zCaw6?usp=share_link" class="btn btn-blue">{{site.data[locale].about.reach_btn}}</a>
			</div>
			</div>
			{% include members.html %}

		</div>
	</div>
</div>

</div>
