<script>
  document.querySelector("header").style.display = 'inline-block';
</script>

<div id="site-canvas">
  <div class="header-image header-advanced">
    <div class="dark-overlay center-text">
      <h1 class="title feature-header">{{site.data[locale].advanced.title}}</h1>
    </div>
  </div>
  
  <div class="row contribute-options">
    <div class="columns" style="text-align: center">
      <a href="{{ site.baseurl }}/assets/downloads/{{site.data[locale].checker.links.advancedJOSM_pdf}}">
        <img src="{{ site.baseurl }}/assets/graphics/content/process/Learn-MapNow.svg" alt="{{site.data[locale].img-alt.Learn-MapNow}}" /><br>
        <div class="btn btn-grn contribute-caps">{{site.data[locale].advanced.guide}}</div>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns"">
      <div class="textbox container">
        <p>{{site.data[locale].advanced.josm}}</p>
      </div>
    </div>
  </div>