<script>
  document.querySelector("header").style.display = 'inline-block';
</script>

<div id="site-canvas">
  <div class="header-image header-beginner">
    <div class="dark-overlay center-text">
      <h1 class="title feature-header">{{site.data[locale].beginner.title}}</h1>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns" style="text-align:center">
      <div class="textbox container">
        <p style="text-align: center">{{site.data[locale].beginner.how_text}}</p>
      </div>
    </div>
  </div>


  <div class="row contribute-options">
    <div class="small-4 columns" style="text-align: center">
      <a href="{{ site.baseurl }}{{site.data[locale].nav[0].links[1].url}}">
        <img src="{{ site.baseurl }}/assets/graphics/content/process/Learn-MapNow.svg" alt="{{site.data[locale].img-alt.Learn-MapNow}}" />
        <div class="btn btn-grn contribute-caps">{{site.data[locale].beginner.advanced}}</div>
      </a>
    </div>
    <div class="small-4 columns" style="text-align: center">
      <a href="{{ site.baseurl }}{{site.data[locale].nav[0].links[2].url}}">
        <img src="{{ site.baseurl }}/assets/graphics/content/process/Learn-MapNow.svg" alt="{{site.data[locale].img-alt.Learn-MapNow}}" />
        <div class="btn btn-grn contribute-caps">{{site.data[locale].beginner.field}}</div>
      </a>
    </div>
    <div class="small-4 columns" style="text-align: center">
      <a href="{{ site.baseurl }}{{site.data[locale].nav[0].links[3].url}}">
        <img src="{{ site.baseurl }}/assets/graphics/content/process/Learn-MapNow.svg" alt="{{site.data[locale].img-alt.Learn-MapNow}}" />
        <div class="btn btn-grn contribute-caps">{{site.data[locale].beginner.validate}}</div>
      </a>
    </div>
  </div>
  
  <div class="row contribute-options">
    <div class="small-4 columns" style="text-align: center">
      <a href="http://learnosm.org/en/coordination/remote/">
        <img src="{{ site.baseurl }}/assets/graphics/content/process/Learn-Tutorials.svg" alt="{{site.data[locale].img-alt.Learn-Tutorials}}" />
        <div class="btn btn-grn arw">{{site.data[locale].beginner.learn_osm}}
          <img src="{{ site.baseurl }}/assets/graphics/meta/Arrow.svg" alt="{{site.data[locale].img-alt.Arrow}}" />
        </div>
      </a>
    </div>
    <div class="small-4 columns" style="text-align: center">
      <a href="https://www.youtube.com/playlist?list=PLHtj0pb6F8G4HuZyHuByZhNLfVP9WpAbZ">
        <img src="{{ site.baseurl }}/assets/graphics/content/process/Learn-YouTube.svg" alt="{{site.data[locale].img-alt.Learn-YouTube}}" />
        <div class="btn btn-grn arw">{{site.data[locale].beginner.youtube}}
          <img src="{{ site.baseurl }}/assets/graphics/meta/Arrow.svg" alt="{{site.data[locale].img-alt.Arrow}}" />
        </div>
      </a>
    </div>
    <div class="small-4 columns" style="text-align: center">
      <a href="http://tasks.hotosm.org/?sort_by=priority&direction=asc&search=missing+maps">
        <img src="{{ site.baseurl }}/assets/graphics/content/process/Learn-MapNow.svg" alt="learnnow" alt="{{site.data[locale].img-alt.Learn-MapNow}}" />
        <div class="btn btn-grn arw">{{site.data[locale].beginner.map_btn}}
          <img src="{{ site.baseurl }}/assets/graphics/meta/Arrow.svg" alt="learnnow" />
        </div>
      </a>
    </div>
  </div>

  <div class="contribute-container">
    <div class="center-text title section-header" id="learn"><a name="beginner">{{site.data[locale].beginner.beginners}}</a></div>
    <div class="row">
      <div class="videobox large-6 small-12 columns"> 
        <!-- Create an Open Street Map account -->
        <iframe width="100%" height="300px" src="https://www.youtube-nocookie.com/embed/suk8uRpIBQw?rel=0" frameborder="0" allowfullscreen=""></iframe>
        <div class="sub-head" style="text-align: left">1. {{site.data[locale].beginner.stepAccount}}
        </div>
        <hr>
        <div class="textbox">
          <p>
            {{site.data[locale].beginner.stepAccount_text}}
          </p>
        </div>
      </div>
      <div class="videobox large-6 small-12 columns">
        <!-- Learn to use the Tasking Manager -->
        <iframe width="100%" height="300px" src="https://www.youtube-nocookie.com/embed/wqQdDgjBOvY?rel=0" frameborder="0" allowfullscreen=""></iframe>
        <div class="sub-head" style="text-align: left">2. {{site.data[locale].beginner.stepTM}}
        </div>
        <hr>
        <div class="textbox">
          <p>
            {{site.data[locale].beginner.stepTM_text}}
          </p>
        </div>
      </div>
      <div class="videobox large-6 small-12 columns">
        <!-- Learn to map buildings -->
        <iframe width="100%" height="300px" src="https://www.youtube-nocookie.com/embed/nswUcgMfKTM?rel=0" frameborder="0" allowfullscreen=""></iframe>
        <div class="sub-head" style="text-align: left">3. {{site.data[locale].contribute.stepBuildings}}
        </div>
        <hr>
        <div class="textbox">
          <p>{{site.data[locale].beginner.stepBuildings_text}}</p>
        </div>
      </div>
      <div class="videobox large-6 small-12 columns">
         <!-- Learn to map roads -->
        <iframe width="100%" height="300px" src="https://www.youtube-nocookie.com/embed/NzZWur1YG1k?rel=0" frameborder="0" allowfullscreen=""></iframe>
        <div class="sub-head" style="text-align: left">4. {{site.data[locale].beginner.stepRoads}}
        </div>
        <hr>
        <div class="textbox">
          <p>{{site.data[locale].beginner.stepRoads_text}}</p>
        </div>
      </div>

    </div>
    <div class="row features">
    </div>
    
  </div>
  
</div> <!-- /site-canvas -->
