<script>
	document.querySelector("header").style.display = 'inline-block';
</script>

<div id="site-canvas">
	<div class="header-image header-blog">
		<div class="dark-overlay center-text">
			<h1 class="title feature-header">{{site.data[locale].blog.title}}</h1>
		</div>
	</div>
	<div class="row">
		<div class="large-12 columns">
			{% for post in site.posts %}
			{% if post.lang == locale %}
				<div class="textbox blog-preview">
						<h2 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
						<a href="{{ post.url }}">
							<img class="medium-4 pull-right blog-img stack-for-small" src="{{ post.banner }}" alt="{{ post.title }}" />
						</a>
						<p><span class="blog-date">{{post.date | localize: "%d",locale }} {{ post.date | localize: "%B",locale }} {{ post.date | localize: "%Y",locale }} </span> &nbsp;|&nbsp; by {{ post.author }}</p>
						<p class="medium-7">{{ post.excerpt }}</p>
				</div>
			{% endif %}
			{% endfor %}
		</div>
	</div>

</div>
