<script>
document.querySelector("header").style.display = 'inline-block';
</script>
<div id="site-canvas">
	<div class="header-image header-events">
		<div class="dark-overlay center-text">
			<h1 class="title feature-header">{{site.data[locale].events.title}}</h1>
		</div>
	</div>
	<div class="row center-text">
		<p style="margin-bottom:20px;">
			<a class="btn btn-blue arw" href="https://forms.gle/Y9YogcXtrdTBxWjh6">
				{{site.data[locale].events.register_event}}
				<img src="{{ site.baseurl }}/assets/graphics/meta/Arrow.svg" alt="" />
			</a>
		</p>
	</div>
	<div id="eventList" class="row small-up-1 medium-up-1 large-up-2">

	</div>
	<!-- <div id="map" class="event-sub-container" style="max-width:900px; height:475px;"></div> -->

</div>

<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/luxon@1.24.1/build/global/luxon.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/papaparse@5.2.0/papaparse.min.js"></script>
<script>


var eventNameKey = "What is the name of your event?"
var locationKey = "Where will your mapping party be held?"
var placeUrlKey = "Please insert a link to your venue on openstreetmap.org"
var signupKey = "Please insert a link where people can sign up"
var dateKey = "Date? as YYYY-MM-DD"
var startKey = "What time does your event start?"
var endKey = "What time does your event end?"
var countryKey = "Country?"

var today = luxon.DateTime.local().startOf('day');
var siteBaseUrl = "{{ site.baseurl }}";	
		
/* USE PAPAPARSE TO GRAB EVENT DATA FROM GOOGLE SHEET */
function init() {
          Papa.parse('https://docs.google.com/spreadsheets/d/14MaSKvz7WmTS0mrj_hystgtQSgkDUvgVJruT4lnbY_U/pub?output=csv', {
          download: true,
          header: true,
          complete: function(results) {
						var data = results.data.filter(function(d){ 
								return luxon.DateTime.fromISO(d[dateKey]).isValid 
									&& luxon.DateTime.fromISO(d[dateKey]) >= today;
						  }).sort(function(x, y){
						   return d3.ascending(x[dateKey], y[dateKey]);
							})
            buildEvents(data)
          }
        })
			}
window.addEventListener('DOMContentLoaded', init)

function buildEvents(data){
	console.log(data)
	d3.select('#eventList').selectAll('div').data(data)
		.enter().append('div').classed('column', true)
		.html(function(d){		
			var countryIso = d[countryKey].substring(d[countryKey].indexOf("[")+1,d[countryKey].indexOf("]")).toLowerCase();
			var signupHtml = (!!d[signupKey]) ? '<a class="btn btn-grn" href="' + d[signupKey] + '" target="">' + "{{site.data[locale].events.sign_up}}" + '</a>' : "";			
			var placeHtml = (!!d[placeUrlKey])	? '<a href="' + d[placeUrlKey] + '"><b>' + d[locationKey] + '</b></a>' : '<b>' + d[locationKey] + '</b>';
			
			var eventHtml = '<div class="event-sub-container">' +
					'<div class="event-top-section clearfix">' +
						'<div class="sub-head">' +
							'<img class="event-images" src="'+ siteBaseUrl + '/assets/graphics/flags/4x3/'+ countryIso +'.svg" width="24px" />' +
							'<h3 class="event-header">' + d[eventNameKey] + '</h3>' +
							signupHtml +
						'</div>' +
					'</div>' +
					'<div class="event-maindetails clearfix">' +
						'<div class="event-details-left">' +
							'<span class="emphasizedNumber">' +
								luxon.DateTime.fromISO(d[dateKey]).day +
							'</span>' +
							'<p><b>' + luxon.DateTime.fromISO(d[dateKey]).setLocale("{{locale}}").toLocaleString({ month: 'long'}) + '</b></p>' +
						'</div>' +
						'<div class="event-details-right">' +
							'<div class="textbox" style="padding-top:8px">' +
								'<p>' +
									placeHtml +
								'</p>' +
								'<p class="event-details">' + luxon.DateTime.fromISO(d[dateKey]).setLocale("{{locale}}").toLocaleString({ weekday: 'long'}) + ", " + d[startKey] + " - " + d[endKey]  + '</p>' +
							'</div>' +
						'</div>' +
					'</div>' +
				'</div>';
			return eventHtml;
	})
	
}


// var h = (window.innerHeight > 500) ? 500 : window.innerHeight;
// var w = h * 1.5;
// var style = "height:" + h + "px; max-width:" + w + "px;"
// document.getElementById('map').setAttribute("style",style);
// 
// var map = L.map('map', {
// 	center: [0,0],
// 	zoom: 2,
// 	minZoom: 2,
// 	scrollWheelZoom: false
// });
// 
// L.tileLayer('http://api.tiles.mapbox.com/v4/mapbox.light/{z}/{x}/{y}.png?access_token=pk.eyJ1Ijoic3RhdGVvZnNhdGVsbGl0ZSIsImEiOiJlZTM5ODI5NGYwZWM2MjRlZmEyNzEyMWRjZWJlY2FhZiJ9.omsA8QDSKggbxiJjumiA_w.', {
// 	attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
// }).addTo(map);
// 
// var markersGroup = L.featureGroup().addTo(map);
// 
// {% for e in event %}
// if(isNaN(parseFloat("{{e.latitude}}")) === false && isNaN(parseFloat("{{e.longitude}}")) === false){
// 	var myIcon = L.icon({
// 		iconUrl: '/assets/graphics/content/blurred-marker.png',
// 		iconSize:     [50, 50],
// 		iconAnchor:   [25, 25]
// 	});
// 	L.marker([parseFloat("{{e.latitude}}"), parseFloat("{{e.longitude}}")],{icon: myIcon}).addTo(markersGroup);
// }
// {% endfor %}
// 
// map.fitBounds(markersGroup.getBounds());

</script>
