<div class="row small-up-1 medium-up-1 large-up-2">
{% assign current_date = site.time | date: '%Y%m%d' %}
{% assign event = (site.data.events.events | sort: 'date' ) %}
{% for e in event %} {% assign event_date = e.date | date: '%Y%m%d' %}
	{% if event_date >= current_date %}
		{% assign count = count | plus: 1 %}
		<div class="column">
		<div class="event-sub-container">
			<div class="event-top-section clearfix">
				<div class="sub-head">
					<img class="event-images" src="{{ site.baseurl }}/assets/graphics/flags/4x3/{{ e.flag }}.svg" width="24px" />
					<h3 class="event-header">{{ e.title }}</h3>
					{% if e. %}
					<a class="btn btn-grn" href="{{ e.signup_url }}" target="">{{site.data[locale].events.sign_up}}</a>
					{% endif %}
				</div>
			</div>
			<div class="event-maindetails clearfix">
				<div class="event-details-left">
					<span class="emphasizedNumber">
						{{ e.date | localize: "%d",locale }}
					</span>
					<p><b>{{ e.date | localize: "%B",locale }}</b></p>
				</div>
				<div class="event-details-right">
					<div class="textbox" style="padding-top:8px">
						<p>
							{% if e.place_url %}
							<a href="{{ e.place_url }}"><b>{{ e.place_name }}</b></a> {% else %}
							<b>{{ e.place_name }}</b>
							{% endif %}
						</p>
						<p class="event-details">{{ e.date | localize: "%A",locale }}, {{ e.time_string }}</p>
					</div>
				</div>
			</div>
		</div>
		</div>

		{% if count == 3 %}
			{% break %}
		{% endif %}
	{% endif %}
{% endfor %}
</div>
