{% assign event = (site.events | sort: 'event.date' ) %}
{% for event in event limit:3 %}
		<div class = "event-sub-container">
			<div class = "event-top-section clearfix">
				<div class="sub-head">
					<img class="event-images" src = "{{ site.baseurl }}/assets/graphics/flags/4x3/{{ event.flag }}.svg" width="24px"/>
					<h3 class="event-header">{{ event.title }}</h3>
					{% if event.link %}
						<a class="btn btn-grn" href="{{ event.link }}" target="">SIGN UP
						</a>
					{% endif %}
				</div>
			</div>
			<div class="event-maindetails clearfix">
	    		<div class="event-details-left">
		    		<span class = "emphasizedNumber">
		    			{{ event.date }}
		    		</span>
					<p><b>{{ event.month }}</b></p>
				</div>
			  	<div class="event-details-right">
				    <div class="textbox" style="padding-top:8px">
						<p>
							{% if event.location-link %}
								<a href="{{ event.location-link }}"><b>{{ event.where }}</b></a>
							{% else %}
								<b>{{ event.where }}</b>
							{% endif %}
						</p>
						<p class="event-details">{{ event.day}}, {{ event.time }}</p>
				    </div>
			  	</div>
			</div>
	   </div>
{% endfor %}


	
	