<script>
document.querySelector("header").style.display = 'inline-block';
</script>
<div id="site-canvas">
	<div class="header-image header-events">
		<div class="dark-overlay center-text">
			<h1 class="title feature-header">{{site.data[locale].events.title}}</h1>
		</div>
	</div>
	<div class="row small-up-1 medium-up-1 large-up-2">
	{% assign current_date = site.time | date: '%Y%m%d' %}
	{% assign event = (site.data.events.events | sort: 'date' ) %}
	{% for e in event %}
	{% assign event_date = e.date | date: '%Y%m%d' %}
	{% if event_date >= current_date %}
	{% assign count = count | plus: 1 %}
		<div class="column">
		<div class="event-sub-container">
			<div class="event-top-section clearfix">
				<div class="sub-head">
					<img class="event-images" src="{{ site.baseurl }}/assets/graphics/flags/4x3/{{ e.flag }}.svg" width="24px" />
					<h3 class="event-header">{{ e.title }}</h3>
					{% if e.signup_url %}
					<a class="btn btn-grn" href="{{ e.signup_url }}" target="">{{site.data[locale].events.sign_up}}</a>
					{% endif %}
				</div>
			</div>
			<div class="event-maindetails clearfix">
				<div class="event-details-left">
					<span class="emphasizedNumber">
						{{ e.date | localize: "%d",locale }}
					</span>
					<p><b>{{ e.date | localize: "%B",locale }}</b></p>
				</div>
				<div class="event-details-right">
					<div class="textbox" style="padding-top:8px">
						<p>
							{% if e.place_url %}
							<a href="{{ e.place_url }}"><b>{{ e.place_name }}</b></a> {% else %}
							<b>{{ e.place_name }}</b>
							{% endif %}
						</p>
						<p class="event-details">{{ e.date | localize: "%A",locale }}, {{ e.time_string }}</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	{% endif %}
	{% endfor %}
	</div>
	<div id="map" class="event-sub-container" style="max-width:900px; height:475px;"></div>

</div>

<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
<script>

var h = (window.innerHeight > 500) ? 500 : window.innerHeight;
var w = h * 1.5;
var style = "height:" + h + "px; max-width:" + w + "px;"
document.getElementById('map').setAttribute("style",style);

var map = L.map('map', {
	center: [0,0],
	zoom: 2,
	minZoom: 2,
	scrollWheelZoom: false
});

L.tileLayer('http://api.tiles.mapbox.com/v4/mapbox.light/{z}/{x}/{y}.png?access_token=pk.eyJ1Ijoic3RhdGVvZnNhdGVsbGl0ZSIsImEiOiJlZTM5ODI5NGYwZWM2MjRlZmEyNzEyMWRjZWJlY2FhZiJ9.omsA8QDSKggbxiJjumiA_w.', {
	attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);

var markersGroup = L.featureGroup().addTo(map);

{% for e in event %}
if(isNaN(parseFloat("{{e.latitude}}")) === false && isNaN(parseFloat("{{e.longitude}}")) === false){
	var myIcon = L.icon({
		iconUrl: '/assets/graphics/content/blurred-marker.png',
		iconSize:     [50, 50],
		iconAnchor:   [25, 25]
	});
	L.marker([parseFloat("{{e.latitude}}"), parseFloat("{{e.longitude}}")],{icon: myIcon}).addTo(markersGroup);
}
{% endfor %}

map.fitBounds(markersGroup.getBounds());

</script>
