<script>
  document.querySelector("header").style.display = 'inline-block';
</script>

<div id="site-canvas">
  <div class="header-image header-field">
    <div class="dark-overlay center-text">
      <h1 class="title feature-header">{{site.data[locale].field.title}}</h1>
    </div>
  </div>
  
  <div class="row">
    <div class="large-12 columns">
      <div class="textbox container">
        <p>{{site.data[locale].field.intro1}}</p>
        <p>{{site.data[locale].field.intro2}}</p>
        <p>{{site.data[locale].field.intro3}}</p>    
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="large-12 columns">
      <div class="textbox container">
        <div class="title section-header">{{site.data[locale].field.volunteers-header}}</div>
        <p>{{site.data[locale].field.volunteers-description}}</p>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="large-12 columns">
      <div class="textbox container">
        <div class="title section-header">{{site.data[locale].field.before-header}}</div>
        <p>{{site.data[locale].field.before-description}}</p>
        <p><b>{{site.data[locale].field.privacy-header}}</b></p>
        <p>{{site.data[locale].field.privacy-about}}</p>
        <p><b>{{site.data[locale].field.physicalsafety-header}}</b></p>
        <p>{{site.data[locale].field.physicalsafety-about}}</p>
        <ol class="orderedlist-styled textbox">
          {% for item in site.data[locale].field.physicalsafety-list %}
          <li>{{item.label}}</li>
          {% endfor %}
        </ol>
        <p><b>{{site.data[locale].field.who.title}}</b></p>
        <p> {{site.data[locale].field.who.about}}</p> 
        <p><b>{{site.data[locale].field.priority.title}}</b></p>
        <p> {{site.data[locale].field.priority.about}}</p> 
        <p><b>{{site.data[locale].field.scale.title}}</b></p>
        <p> {{site.data[locale].field.scale.about}}</p> 
        <p><b>{{site.data[locale].field.data.title}}</b></p>
        <p> {{site.data[locale].field.data.about}}</p> 
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="large-12 columns">
      <div class="textbox container">
        <div class="title section-header">{{site.data[locale].field.tools-header}}</div>
        <p>{{site.data[locale].field.tools-about}}</p>
        <ol class="orderedlist-styled textbox">
          {% for item in site.data[locale].field.tools-list %}
          <li>{{item.label}}</li>
          {% endfor %}
        </ol>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="large-12 columns">
      <div class="textbox container">
        <div class="title section-header">{{site.data[locale].field.processing-header}}</div>
        <p>{{site.data[locale].field.processing-about}}</p>
        <ol class="orderedlist-styled textbox">
          {% for item in site.data[locale].field.processing-list %}
          <li>{{item.label}}</li>
          {% endfor %}
        </ol>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="large-12 columns">
      <div class="textbox container">
        <div class="title section-header">{{site.data[locale].field.giveback-header}}</div>
        <p>{{site.data[locale].field.giveback-about}}</p>
      </div>
    </div>
  </div>
  
  
</div>