<header>
	<div class="navbar-background">
		<div class="nav-icon">
			<a href="{{site.baseurl}}/{{site.data[locale].home}}">
				<img src="{{site.baseurl}}/assets/graphics/meta/MM-White.svg" width="94px">
			</a>
		</div>
		<div class="nav-list">
			<ul>
				{% for nav in site.data[locale].nav %}
				{% if nav.url %}
				<a href="{{nav.url}}">
					<li class="nav-item">{{nav.text}}</li>
				</a>
				{% else if nav.links %}
				<li class="nav-item nav-dropdown">{{nav.text}}
					<div class="dropdown-content">
						{% for link in nav.links %}
						<a href="{{link.url}}"><div class="nav-item">{{link.text}}</div></a>
						{% endfor %}
					</div>
				</li>
				{% endif %}
				{% endfor %}
				|
				<li class="nav-item nav-dropdown">{{locale}}
					<div class="dropdown-content">
						{% for loc in site.authorized_locales %}
						{% if page.category == "blog" %}
							{% assign pg = site.posts | where:"lang",{{loc}} | where:"postID",page.postID | first%}
						{% else %}
							{% assign pg = site.pages | where:"lang",{{loc}} | where:"id",page.id | first %}
						{% endif %}

						<a href="{{site.baseurl}}{{pg.url}}">
							<div class="nav-item item-centered">{{loc}}</div>
						</a>
						{% endfor %}
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="resp-navbar navbar-background resp-nav-dropdown">
		<p>MENU</p>
		<div class="resp-dropdown-content">
			{% for nav in site.data[locale].nav %}
			{% if nav.url %}
			<a href="{{nav.url}}">
				<li class="nav-item">{{nav.text}}</li>
			</a>
			{% else if nav.links %}{% for link in nav.links %}
			<a href="{{link.url}}">
				<li class="nav-item">{{link.text}}</li>
			</a>
			{% endfor %}{% endif %}
			{% endfor %}
			<div class="mobile-languages">
				{% for loc in site.authorized_locales %} {% if loc == site.default_locale %}
				<a href="/">
					<div class="lang">{{loc}}</div>
				</a>
				{% else %}
				<a href="{{site.baseurl}}/{{loc}}/">
					<div class="lang">{{loc}}</div>
				</a>
				{% endif %} {% endfor %}
			</div>
		</div>
	</div>
</header>
