<header>
		<div class="navbar-background">
			<div class="nav-icon">
				<a href="{{site.baseurl}}/">
					<img src="../assets/graphics/meta/MM-White.svg" width="94px">
				</a>
				</div>
			<div class="nav-list">
				<ul>
					<a href="{{site.baseurl}}/contribute/"><li class="nav-item">CONTRIBUTE</li></a>
					<li class="nav-item nav-dropdown">EVENTS
						<div class="dropdown-content">
							<a href="http://www.missingmaps.org/events/"><div class="nav-item">CURRENT EVENTS</div></a>
							<a href="http://www.missingmaps.org/host/"><div class="nav-item">ORGANISE AN EVENT</div></a>
						</div>
					</li>
					<a href="{{site.baseurl}}/about/"><li class="nav-item">ABOUT</li></a>
					<li class="nav-item nav-dropdown">DISCOVER
						<div class="dropdown-content">
							<a href="http://www.missingmaps.org/users/"><div class="nav-item">USER PROFILES</div></a>
							<a href="http://www.missingmaps.org/leaderboards/"><div class="nav-item">LEADERBOARDS</div></a>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="resp-navbar navbar-background resp-nav-dropdown">
				<p>MENU</p>
				<div class="resp-dropdown-content">
					<a href="{{site.baseurl}}/contribute/"><li class="nav-item">CONTRIBUTE</li></a>
					<a href="{{site.baseurl}}/events/"><li class="nav-item">EVENTS</li></a>
					<a href="{{site.baseurl}}/about/"><li class="nav-item">ABOUT</li></a>
					<a href="http://www.missingmaps.org/users/"><li class="nav-item">USER PROFILES</li></a>
					<a href="http://www.missingmaps.org/leaderboards/"><li class="nav-item">LEADERBOARDS</li></a>
				</div>
		</div>
	</header>
