<div id="helper-map-contents">
  <div class="row">
    <div class="columns">
        <div><img src="{{ site.baseurl }}/assets/graphics/content/process/helper.svg" alt="{{site.data[locale].img-alt.helper}}"/></div>
        <div class="sub-head">{{site.data[locale].helper-map.title}}</div>
        <div class="about-textbox" style="padding-bottom:20px;text-align:center;">
          <p style="text-align: center">{{site.data[locale].helper-map.description}}</p><br>
        </div>
      </div>
    </div>
</div>