<script>
  document.querySelector("header").style.display = 'inline-block';
</script>

<div id="site-canvas">
  <div class="header-image header-host">
    <div class="dark-overlay center-text">
      <h1 class="title feature-header">{{site.data[locale].host.title}}</h1>
    </div>
  </div>
</div>

<div class="row host-container">
  <div class="center-text panel">
    <div class="about-textbox" style="padding-bottom:50px">
      <p> {{site.data[locale].host.text}} </p>
    </div>

    <div class="videobox-light large-6 small-12 columns">
      <iframe width="100%" height="300px" src="https://www.youtube-nocookie.com/embed/pAcsCmvG2hs" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="sub-head" style="text-align: center">{{site.data[locale].host.what_is}}</div>
    </div>
    <div class="videobox-light large-6 small-12 columns">
      <iframe width="100%" height="300px" src="https://www.youtube-nocookie.com/embed/njxePdKn1pI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="sub-head" style="text-align: center">{{site.data[locale].host.how_host}}</div>
    </div>
    <div class="about-textbox" style="padding-bottom:50px">
      <div class="sub-head center-text">{{site.data[locale].host.large_event_title}}</div>
      <p> {{site.data[locale].host.large_event}} </p>
    </div>
    <div class="host-button-box">
      <a href="{{ site.baseurl }}{{site.data[locale].host.url}}#Preparation" class="btn btn-blue">{{site.data[locale].host.prep_btn}}</a>
      <a href="{{ site.baseurl }}{{site.data[locale].host.url}}#EventDay" class="btn btn-blue">{{site.data[locale].host.check_btn}}</a>
      <a href="{{ site.baseurl }}{{site.data[locale].host.url}}#Materials" class="btn btn-blue">{{site.data[locale].host.materials_btn}}</a>
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSd0o_FrsoGlpqKlG9q1WumFV8sW8P9yhH4Udln_1fQbYjXn9A/viewform?usp=send_form" class="btn btn-grn arw">{{site.data[locale].host.register_event}}   <img src="{{ site.baseurl }}/assets/graphics/meta/Arrow.svg" alt="{{site.data[locale].img-alt.Arrow}}" /></a>
    </div>

    <div id="Preparation">
      <div class="host-image">
        <img src="{{ site.baseurl }}/assets/graphics/content/process/Checklist.svg" width="150" alt="{{site.data[locale].img-alt.Checklist}}">
        <div class="sub-head">{{site.data[locale].host.prep_check}}</div>
        <p>{{site.data[locale].host.see_materials}} <a href="{{site.data[locale].host.url}}#Materials">{{site.data[locale].host.materials_title}}</a>.</p>
      </div>
      <div class="about-textbox">
        <div class="row">
          <div class="medium-offset-2 medium-8 columns">
            <div class="checklist">
              {% for item in site.data[locale].host.prep_check_list %}
              <p>{{item.label}}</p>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="EventDay">
      <div class="host-image">
        <img src="{{ site.baseurl }}/assets/graphics/content/process/Checklist-2.svg" width="150" alt="{{site.data[locale].img-alt.Checklist-2}}">
        <div class="sub-head">{{site.data[locale].host.event_check}}</div>
        <p>{{site.data[locale].host.see_materials}} <a href="{{site.data[locale].host.url}}#Materials">{{site.data[locale].host.materials_title}}</a>.</p>
      </div>
      <div class="about-textbox">
        <div class="row">
          <div class="medium-offset-2 medium-8 columns">
            <div class="checklist">
              {% for item in site.data[locale].host.event_check_list %}
              <p>{{item.label}}</p>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="Materials">
      <div class="host-image">
        <img src="{{ site.baseurl }}/assets/graphics/content/process/Checklist-3.svg" width="150" alt="{{site.data[locale].img-alt.Checklist-3}}">
        <div class="sub-head">{{site.data[locale].host.materials.title}}</div>
      </div>
      <div class="host-materials">
        <div class="text-center">
            <p>{{site.data[locale].host.materials.text1}}</p>
            <p>{{site.data[locale].host.materials.text2}}</p>
        </div>
      </div>
    </div>
    <div id="helper-map">
        {% include helper-map.html %}
    </div>
  </div>
</div>
