<script>
  document.querySelector("header").style.display = 'inline-block';
  document.querySelector("header").style.position = 'absolute';
</script>

<!-- ~ ~ ~ ~ ~ ~ ~ ~ ~  -->
<!-- Contribute -->
<!-- ~ ~ ~ ~ ~ ~ ~ ~ ~  -->

<div class="welcome-container">
  <div class="center-text">
    <div class="">
      <img src="/assets/graphics/layout/Intro.svg" width="500px"></img>
    </div>
    <div class="section-headerwelcome">
      <div class="titlewhite">
        <p>{{site.data[locale].banner.title}}</p>
      </div>
      <div class="sub-head">
        <p>{{site.data[locale].banner.subtitle}}</p>
      </div>
      <div class="btn btn-blue"><a href="{{ site.baseurl }}/{% if locale != site.default_locale %}{{ locale }}{% endif %}#contribute">{{site.data[locale].banner.get_involved}}</a></div>
    </div>
  </div>
</div>

<div class="welcome-containerprocess">
  <div class="center-text">
    <div class="titlewhite">
      <p class="process-header">{{site.data[locale].how_we_work.title}}</p>
    </div>
  </div>
  <!-- <img src="/assets/graphics/content/process/Process-1.svg" class="mobile-remove" width: "100%" /></img> -->
  <div id="process-container">{% include Process-Template.svg %}</div>
  <div class="mobile-welcome">
    <!-- <img src="/assets/graphics/content/process/Process-PartOne.svg" width: "100%"></img>
    <img src="/assets/graphics/content/process/Process-PartTwo.svg" width: "100%"></img>
    <img src="/assets/graphics/content/process/Process-PartThree.svg" width: "100%"></img> -->
    <div id="process-container-mobile">{% include Process-Template-Mobile.svg %}</div>
  </div>
</div>

<div class="center-text padding-extra">
  <Div id="contribute">
    <div class="title section-header">{{site.data[locale].how_to_participate.title}}</div>
  </Div>
</div>
<div class="action-container">
  <div class="row">
    <div class="large-4 columns actions-img">
      <div class="contribute-image">
        <img class="image-action" src="{{ site.baseurl }}/assets/graphics/content/process/MapNow.svg" width="280" alt="Beepboop">
      </div>
    </div>
    <div class="large-8 columns">
      <div class="contribute-base">
        <div class="sub-head">{{site.data[locale].how_to_participate.start}}</div>
        <div class="textbox"> {{site.data[locale].how_to_participate.start_text}}</div>
        <div class="btn btn-grn"><a href="http://tasks.hotosm.org/?sort_by=priority&direction=asc&search=missing+maps">{{site.data[locale].how_to_participate.map_btn}}</a></div>
        <div class="btn btn-grn"><a href="{{ site.baseurl }}{{site.data[locale].nav[0].links[0].url}}">{{site.data[locale].how_to_participate.learn_btn}}</a></div>
      </div>
    </div>
  </div>
</div>

<div class="action-container">
  <div class="row">
    <div class="large-4 large-push-8 columns actions-img">
      <div class="contribute-image">
        <img src="{{ site.baseurl }}/assets/graphics/content/process/Mapathon.svg" width="250" alt="Beepboop">
      </div>
    </div>
    <div class="large-8 large-push-4 columns">
      <div class="contribute-base">
        <div class="sub-head">{{site.data[locale].how_to_participate.organize}}</div>
        <div class="contribute-box textbox">{{site.data[locale].how_to_participate.organize_text}}</div>
        <p><a href="{{ site.baseurl }}{{site.data[locale].nav[1].links[1].url}}" class="btn btn-grn">{{site.data[locale].how_to_participate.lead_btn}}</a>
          <a href="http://communicatoremail.com/F/QTwz9iBiyP0vavUEMRJ6SQ/" class="btn btn-grn">{{site.data[locale].how_to_participate.join_btn}}</a></p>
      </div>
    </div>
  </div>
</div>

<div class="action-container">
  <div class="row">
    <div class="large-4 columns actions-img">
      <div clas="contribute-image">
        <p>
          <img src="{{ site.baseurl }}/assets/graphics/content/process/Donate.svg" width="300" alt="Beepboop">
        </p>
      </div>
    </div>
    <div class="large-8 columns">
      <div class="contribute-base">
        <div class="sub-head">{{site.data[locale].how_to_participate.donate}}</div>
        <div class="contribute-box textbox">{{site.data[locale].how_to_participate.donate_text}}</div>
        <p><a href="http://donate.hotosm.org/" class="btn btn-grn arw">{{site.data[locale].how_to_participate.donate_btn}} <img src="{{ site.baseurl }}/assets/graphics/meta/Arrow.svg"></img></a></p>
      </div>
    </div>
  </div>
</div>

<!-- ~ ~ ~ ~ ~ ~ ~ ~ ~  -->
<!-- OSM Analytics -->
<!-- ~ ~ ~ ~ ~ ~ ~ ~ ~  -->
<div class="osmanalytic-container clearfix">
  <div class="large-12 columns large-centered">
    <div class="center-text panel">
      <div class="title section-header">{{site.data[locale].contributions.title}}</div>
    </div>
    <div class="row">
      <div class="Discover-Stats">
        <div class="sub-head Discover-Title">
          {{site.data[locale].contributions.subtitle}}
        </div>
        <div class="Discover-Split">
          <div class="Stat-Item">
            <img src="../assets/graphics/staticons/Changeset.svg" width="70px"></img>
            <div class="emphasizedNumber" id="stats-usersCount">
              0
            </div>
            <div class="title">
              {{site.data[locale].contributions.total}}
            </div>
          </div>
          <div class="Stat-Item">
            <img src="../assets/graphics/staticons/Edit.svg" width="70px"></img>
            <div class="emphasizedNumber" id="stats-editsCount">
              0
            </div>
            <div class="title">
              {{site.data[locale].contributions.edits}}
            </div>
          </div>
        </div>
        <div class="Discover-Split">
          <div class="Stat-Item">
            <img src="../assets/graphics/staticons/Building.svg" width="70px"></img>
            <div class="emphasizedNumber" id="stats-buildingsCount">
              0
            </div>
            <div class="title">
              {{site.data[locale].contributions.buildings}}
            </div>
          </div>
          <div class="Stat-Item">
            <img src="../assets/graphics/staticons/Road.svg" width="70px"></img>
            <div class="emphasizedNumber" id=stats-roadsCount>
              0
            </div>
            <div class="title">
              {{site.data[locale].contributions.roads}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row Discover-Tools">
  <div class="title section-header">{{site.data[locale].discover.title}}</div>
  <div class="sub-head Discover-Sub">
    {{site.data[locale].discover.subtitle}}
  </div>
  <div class="osmanalytic-item-container medium-6 columns">
    <img src="../assets/graphics/content/process/ProfileGraphic.svg" width="200px"></img>
    <div class="title">{{site.data[locale].discover.profiles}}</div>
    <div class="textbox">
      <p style="text-align: center">{{site.data[locale].discover.profile_text}}</p>
    </div>
    <div class="btn btn-blue"><a href="http://www.missingmaps.org/users/">{{site.data[locale].discover.profile_btn}}</a></div>
  </div>
  <div class="osmanalytic-item-container medium-6 columns">
    <img src="{{ site.baseurl }}/assets/graphics/content/process/LeaderboardGraphic.svg" width="200px"></img>
    <div class="title">{{site.data[locale].discover.projects}}</div>
    <div class="textbox">
      <p style="text-align: center">{{site.data[locale].discover.project_text}}</p>
    </div>
    <div class="btn btn-blue"><a href="http://www.missingmaps.org/leaderboards/">{{site.data[locale].discover.project_btn}}</a></div>
  </div>
</div>

<!-- ~ ~ ~ ~ ~ ~ ~ ~ ~  -->
<!-- Events -->
<!-- ~ ~ ~ ~ ~ ~ ~ ~ ~  -->
<div class="events-container">
  <div class="title section-header">{{site.data[locale].events.title}}</div>
  {% include events_min.html %}
</div>
<div class="events-panel">
  <a href="{{ site.baseurl }}{{site.data[locale].nav[1].links[0].url}}" class="button invert-btn-white">{{site.data[locale].events.all_btn}}</a>
</div>


<!-- ~ ~ ~ ~ ~ ~ ~ ~ ~  -->
<!-- About -->
<!-- ~ ~ ~ ~ ~ ~ ~ ~ ~  -->

{% include members.html %}

<!-- Content goes inside #site-canvas -->
