<div class="row">
  <div class="large-12 columns">
    <div class="about-container">
      <div class="center-text">
        <div class="title section-header">{{site.data[locale].about.title}}</div>
        <div class="textbox">
          <p style="text-align: center">{{site.data[locale].about.madepossible}}</p>
        </div>
        <p>
          <div class="sub-head">{{site.data[locale].about.founders}}</div>
          <a href="http://redcross.org/">
            <img src="{{ site.baseurl }}/assets/graphics/content/logos/arc_logo.png" class="founder" alt="arc logo" />
          </a>
          <a href="http://redcross.org.uk/">
            <img src="{{ site.baseurl }}/assets/graphics/content/logos/brc_logo.png" class="founder" alt="brc logo" />
          </a>
          <a href="http://hotosm.org/">
            <img src="{{ site.baseurl }}/assets/graphics/content/logos/hot_logo.png" class="founder" alt="hot logo"  />
          </a>
          <a href="http://www.msf.org.uk/">
            <img src="{{ site.baseurl }}/assets/graphics/content/logos/msf_logo.png" class="founder" alt="msf logo" />
          </a>
          <div class="sub-head">{{site.data[locale].about.members}}</div>
          <a href="http://www.cartong.org/">
            <img src="{{ site.baseurl }}/assets/graphics/content/logos/cartong_logo.png" alt="cartong logo" class="member" />
          </a>
          <a href="http://www.rodekruis.nl/">
            <img src="{{ site.baseurl }}/assets/graphics/content/logos/nlrc_logo.jpg" alt="netherlands red cross" class="member" />
          </a>
          <a href="http://www.clintonhealthaccess.org/">
            <img src="{{ site.baseurl }}/assets/graphics/content/logos/chai-logo.svg"  alt="chia-logo" class="member" />
          </a>
          <a href="http://www.geog.uni-heidelberg.de/gis/">
            <img src="{{ site.baseurl }}/assets/graphics/content/logos/hgis_logo.png" alt="hgis-logo" class="member" />
          </a>
          <a href="https://www.concern.net/category/world-region/europe/uk">
            <img src="{{ site.baseurl }}/assets/graphics/content/logos/concern_logo.png" alt="concern-logo" class="member" />
          </a>
          <a href="https://programs.gwu.edu/graduate/geographical-information-systems">
            <img src="{{ site.baseurl }}/assets/graphics/content/logos/gwu_logo.svg" alt="george washington-logo" class="member" />
          </a>
          <a href="http://cadasta.org">
            <img src="{{ site.baseurl }}/assets/graphics/content/logos/cadasta_logo.png" alt="cadasta logo" class="member" />
          </a>
          <a href="https://padf.org">
            <img src="{{ site.baseurl }}/assets/graphics/content/logos/padf_logo.png" alt="padf logo" class="member" />
          </a>
          <a href="http://youthmappers.org">
            <img src="{{ site.baseurl }}/assets/graphics/content/logos/ym_logo.png" alt="youthmappers logo" class="member" />
          </a>
          <a href="https://healthsites.io">
            <img src="{{ site.baseurl }}/assets/graphics/content/logos/healthsites_logo.png" alt="healthsites logo" class="member" />
          </a>
          <a href="https://mapaction.org">
            <img src="{{ site.baseurl }}/assets/graphics/content/logos/mapaction_logo.png" alt="mapaction logo" class="member" />
          </a>
          <a href="http://www.redcross.ca/">
            <img src="{{ site.baseurl }}/assets/graphics/content/logos/cancross_logo.png" alt="mapaction logo" class="member" />
          </a>
          <a href="http://www.ifrc.org/">
            <img src="{{ site.baseurl }}/assets/graphics/content/logos/ifrc_logo.png" alt="mapaction logo" class="member" />
          </a>
        </p>
        <p>
          <div class="sub-head">OpenStreetMap</div>
          <div class="textbox">
            <p style="text-align: center"><a href="http://openstreetmap.org">OpenStreetMap</a> {{site.data[locale].about.osm_text}} <a href="http://osmfoundation.org">OpenStreetMap Foundation</a>.</p>
          </div>
          <div class = "OSM-logo">
            <p><a href="http://openstreetmap.org">
              <img src="{{ site.baseurl }}/assets/graphics/content/logos/Openstreetmap_logo.svg">
            </a></p>
          </div>
        </p>
      </div>
    </div>
  </div>
</div>
</div>
