<script>
document.querySelector("header").style.display = 'inline-block';
</script>

<div id="site-canvas">
	<div class="header-image header-about">
		<div class="dark-overlay center-text">
			<h1 class="title feature-header">{{site.data[locale].countrystats.title}}</h1>
		</div>
	</div>
	<div class="row">
		<div class="large-11 large-centered columns">
			<!-- setting height to 1600px here so that there is no need to scroll within the iframe -->
			<iframe src="https://humstats.heigit.org/missing_maps.html" title="Humanitarian OSM Stats" width="100%" height="1600px"></iframe>
		</div>
	</div>
</div>
</div>

</div>
